.home {
  width: 60%;
  margin: 0 auto;
  font-size: 1rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .animContainer {
    // top       : 20vh;
    // left      : 0;
    // right     : 0;
    width: 100%;
    height: 100%;
    min-height: 40rem;
    text-align: center;
    margin: 5vh auto;
  }

  .cio {
    // font-size: 1.5rem;
    position: relative;
    top: 15vh;
    opacity: 1;
    transform: none;
    width: 100%;
  }

  .anim1 {
    position: relative;
    top: 10vh;
    opacity: 1;
    transform: none;
    width: 100%;
  }

  .up {
    z-index: 100;
  }

  .clock {
    font-size: 3rem;
    font-family: digitalFamliy;
    margin: 5vh auto;
  }

  .aboutContainer {
    margin: 10vh auto;
    padding: 5vh 0;
    text-align: center;

    .about-content-title {
      text-align: left;
    }

    .about-content-text {
      text-align: left;
      vertical-align: auto;
      height: 100%;
    }

    .about-icon-font {
      font-size: 2rem;
      // margin   : auto auto;
      opacity: 0.67;
    }

    .about-icon-font:hover {
      opacity: 1;
    }

    .info_item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .info_icon {
        background: red;
        width: 4rem;
        height: 4rem;
        opacity: 0.67;
        margin: 0.5rem 0.5rem 0.5rem 0;
        flex-grow: 0;
      }

      .info_icon:hover {
        opacity: 1;
      }

      .info_text {
        text-align: left;
        margin: auto 0;
        flex-grow: 1;
      }
    }

    .about_skill_area {
      margin: 2rem 0;
    }
  }

  .carouselContainer {
    margin: 10vh auto;
    padding: 5vh;
    text-align: center;

    .carousel {
      background-color: transparent;
      text-align: center;
      height: 60vh;

      div {
        height: 100%;
      }

      img {
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}
