.home {
  width    : 60%;
  margin   : 0 auto;
  font-size: 1rem;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .animContainer {
    // top       : 20vh;
    // left      : 0;
    // right     : 0;
    width        : 100%;
    height       : 100%;
    min-height   : 40rem;
    text-align   : center;
    margin       : 5vh auto;
  }

  .cio {
    // font-size: 1.5rem;
    position    : relative;
    top         : 15vh;
    opacity     : 1;
    transform   : none;
    width       : 100%;
  }

  .anim1 {
    position : relative;
    top      : 10vh;
    opacity  : 1;
    transform: none;
    width    : 100%;
  }

  .up {
    z-index: 100;
  }

  .clock {
    font-size  : 3rem;
    font-family: digitalFamliy;
    margin     : 5vh auto;
  }

  .aboutContainer {
    margin    : 10vh auto;
    padding   : 5vh 0;
    text-align: center;

    .content_title{
      text-align: left;
    }

    .about_content{
      text-align: left;
    }
  }

  .carouselContainer {
    margin    : 10vh auto;
    padding   : 5vh;
    text-align: center;

    .carousel {
      background-color: transparent;
      text-align      : center;
      height          : 60vh;

      div {
        height: 100%;
      }

      img {
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}